*{
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8;
    color: #222;
    line-height: 1.6;
}

header,
main,
footer{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   

}

nav h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-left: auto;

}

nav a{
    text-decoration: solid;
    font-weight: 500;
}

nav a:hover{
    color: #e71f2f;
}

section{
    margin-top: 1rem;

}

section h2{
    font-size: 1rem;
    margin: 1rem;
}

#product-list,
#service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card{
    background: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

footer{
    margin-top: 4rem;
    text-align: center;
    font-size: 1rem;
    color: #777;
}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-container{
    background: rgb(196, 134, 127);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container input {
    width: 200px;
    padding: 10px;
    margin-bottom: 1rem;
}

.login-container button{
    width: 60%;
    padding: 10px;
    background:#e71f2f;
    color: #fff;
    border: none;
    cursor: pointer;
}
.login-container button:hover{
    background: #c41c24;
}

.login-container input{
    display: flex;
    margin-bottom: 1rem;
}